#choice{
    background: url('../images/bg.png') no-repeat top center/100% 100%;
    color: #fff
}

#choice .inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#choice .inner .slogon-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    height : 16.7%;
}

#choice .inner .slogon-text h3{
    font-size: 0.4rem;
    text-align: center;
}

#choice .inner .slogon-text p{
    font-size:0.25rem;
    text-align: center;
    line-height: 1.2;
}

#choice .inner .swiper-container {
    height: 67.5%;
    width:76%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-height: 772px){
    .swiper-container {
        height: 432px;
    }
}


#choice .inner img {
    width: 100%;
    height: 100%;
}
.img-wrap{
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.img-wrap h3{
    font-size: 0.5rem;
    margin-bottom: 5%;
}

.img-wrap p{
    font-size: 0.25rem;
    margin-bottom: 10%;
}

.img-item1{
    background: url('../images/pic1.png') no-repeat top center/auto 100%;
}
.img-item2{
    background: url('../images/pic2.png') no-repeat top center/auto 100%;
}
.img-item3{
    background: url('../images/pic3.png') no-repeat top center/auto 100%;
}
.img-item4{
    background: url('../images/pic4.png') no-repeat top center/auto 100%;
}
.img-item5{
    background: url('../images/pic5.png') no-repeat top center/auto 100%;
}



#choice .inner .swiper-button-prev {
    width: 0.3rem;
    height: 0.5rem;
    background: url('../images/bgs/arrow-left.png') no-repeat top center/100% 100%;
}

#choice  .inner .swiper-button-next {
    width: 0.3rem;
    height: 0.5rem;
    background: url('../images/bgs/arrow-right.png') no-repeat top center/100% 100%;
}

#choice .gen-poster-btn-wrap{
    display: flex;
    align-items: center;
    height: 17.6%;
    text-align: center;
}
#choice .gen-poster-btn-wrap .gen-poster-btn{
    display: block;
    margin: 0 auto;
    width: 5rem;
    line-height: 0.8rem;
    background: url('../images/bgs/join-right-now.png') no-repeat top center/100% 100%;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 30%;
}


#choice .hidden{
    display: none;
}
    
/* 如果设备像素大于等于2，则用2倍图 */
@media screen and (-webkit-min-device-pixel-ratio: 2),screen and (min--moz-device-pixel-ratio: 2) {
    #choice {
      background: url('../images/bg@2x.png') no-repeat top center/100% 100%;
    }

    .img-item1{
        background: url('../images/pic1@2x.png') no-repeat top center/auto 100%;
    }
    .img-item2{
        background: url('../images/pic2@2x.png') no-repeat top center/auto 100%;
    }
    .img-item3{
        background: url('../images/pic3@2x.png') no-repeat top center/auto 100%;
    }
    .img-item4{
        background: url('../images/pic4@2x.png') no-repeat top center/auto 100%;
    }
    .img-item5{
        background: url('../images/pic5@2x.png') no-repeat top center/auto 100%;
    }
}

.choice_input_wrap {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: flex-end;
    color: #333;
}

.choice_input_wrap h3{
    font-size: 0.4rem;
    margin-bottom: 0.4rem;
    font-weight: 500;
}

.choice_input_wrap p{
    font-size: 0.25rem;
    margin-bottom: 0.1rem;
}

.choice_input_wrap input{
    font-size: 0.5rem;
    background: #FFFFFF;
    border: 1px solid #AACCF6;
    border-radius: 8px;
    height: 50px;
}   




